.footer{
 	margin-left: auto;
 	margin-right: auto;
 	width:100%;
 	height:40%;
 	color:floralwhite;
    background-color:#008F77;

 }
 
 .footer a{
     color:floralwhite;
     text-display: none;
     
 }


.footer a:nodec{
    text-decoration-color: none;
    text-decoration: underline;
    background-color: none;
   
}

.footer{
	color:floralwhite;
	background-color:#008F77;
}
.col-sm-4 a{
    color:floralwhite;
}
.hasala
{
    height:140%;
    width: 100%;
    background-color:#008F77;
    font-size: 13pt;
}
